# .NET
bin/
obj/
*.user
*.suo
.vs/
artifacts/
[Tt]est[Rr]esults/
*.trx
coverage*.xml
*.coverage

# Rider / VS Code
.idea/
.vscode/

# Secretos / entorno (NUNCA versionar — RNF-SEG-004)
.env
.env.*
!.env.example
*.pfx
*.key
secrets/

# macOS
.DS_Store

# Node / frontend (Angular, cuando se agregue)
node_modules/
dist/
.angular/

# Docker
**/docker-data/
